<h1 class="page-heading">Deliver Insulin</h1>
<div class="all-items">
<form action="/" method="POST">
    <diV class="form-group">
        <label>Enter BG</label>
        <span><input type="number" name="bloodGlucose" id="formBG"/></span>
        <div class="form-section">
            <label>Correction Formula</label>
            <p>Fixed Correction = (BG - <span id="valCorrectSub">{{globalData.correctionSubtract}}</span>)/<span id="valCorrectDiv">{{globalData.correctionDivisor}}</span> - <span id="valActive">{{globalData.activeInsulin}}</span>(Active Insulin)</p>
            <div class="form-block"><label>Total Correction:</label><input type="number" name="totalCorrection" id="formTCorrect" readonly></div>
            <div class="form-block"><label>Fixed Correction:</label><input type="number" name="fixedCorrection" id="formFCorrect" readonly></div>
        </div>
    </diV>

    <div class="form-group">
        <label>Food Items</label>
        <div id="foodPop">
            {{!-- dropdown values added go here --}}
        </div>
        <div class="food-dd" id="food-dd">
            <select name="foodItems" id="foodItemsDD">
                {{#each foodData}}
                <option value="{{carbValue}}">{{name}} <span class="carb-val">{{carbValue}}</span>g</option>
                {{/each}}
            </select>
            <label>Quantity</label>
            <input id="quantity" type="number"/>
            <a id="addBtn" class="btnify" href="#">Add</a>
        </div>
        <div class="form-block"><label>Total Carbs:</label><input id="totalCarbs" type="number" name="totalCarbs" class="input-tcarbs" readonly></div>
        <div class="carb-ratio">Food Delivery = Total Carbs / <span id="carbRatio">{{globalData.carbRatio}}</span></div>
        <div class="form-block"><label>Food Delivery:</label><input id="totalFoodDelivery" type="number" name="totalFoodDelivery" class="input-fd" readonly></div>
    </div>

    <div class="form-group">
        <label>Delivery Type</label>
        <select name="deliveryType" id="deliveryTypeDD">
            <option value="food">Food Delivery</option>
            <option value="correction">Correction</option>
            <option value="both">Both</option>
        </select>
    </div>

    <div class="form-block"><label>Total Delivery:</label><input id="totalDelivery" type="number" name="totalDelivery" class="input-td" readonly></div>
    <input type="submit" value="Create" />
</form>
</div>
<script type="text/javascript" src="/js/calc.js"></script>