<h1>Settings</h1>

{{#each allGlobal}}

<div class="settings-item">
    <div class="item">
        <div class="label">Carb Ratio</div>
        <div class="data">{{carbRatio}}</div>
    </div>
    <div class="item">
        <div class="label">Correction</div>
        <div class="data">(BG - {{correctionSubtract}}) / {{correctionDivisor}}</div>
    </div>
    <div class="group">
    <div class="item">
        <div class="label">Insulin Type</div>
        <div class="data">{{insulinType}}</div>
    </div>
    <div class="item">
        <div class="label">Insulin Activity Length</div>
        <div class="data">{{insulinActivityLength}}</div>
    </div>
    </div>
</div>
<a href="/settings/{{_id}}/edit">
    <button>
        Edit
    </button>
{{/each}}