{{singleFood.name}}

<a href="/food/{{singleFood._id}}/edit">
    <button>
        Edit
    </button>
</a>

<div class="title">Name</div>
{{singleFood.name}}

<div class="title">Carbohydrates</div>
{{singleFood.carbValue}}

<div class="title">Is Beverage</div>
{{singleFood.isBeverage}}
